<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert", 'data-purpose': "devise-alert",  class: "alert alert-danger", role:  "alert") if flash[:alert] %>
    <fieldset class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:'form-control', 'data-purpose':'login_email' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class:'form-control', 'data-purpose':'login_password' %>
  </fieldset>
  <% if devise_mapping.rememberable? -%>
      <fieldset class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </fieldset>
  <% end -%>

  <%= f.submit 'Log in', class:'btn btn-primary', 'data-purpose':'login_confirmation' %>

<% end %>

<%= render "users/shared/links" %>
