<h2 data-purpose="profile-edition">Edit your profile</h2>

<%= form_for @user, url: {action: 'update'} do |f| %>
    <fieldset class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class:'form-control', 'data-purpose':'first-name-input'  %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class:'form-control', 'data-purpose':'last-name-input'  %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar, 'data-purpose':'avatar-input'  %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.button :submit, 'data-purpose':'confirm-edition-button'  %>
    </fieldset>
<% end %>