<h1 data-purpose="learners_index">Learners</h1>

<header>
  <h1 class="h2">Search</h1>
</header>

<section class="search-form">
  <%= form_for :users, method: 'get' do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: 'sr-only' %>
      <%= text_field_tag :keywords, nil, placeholder: 'Firstname or Lastname', class: 'form-control input-lg', 'data-purpose': 'search-user-input' %>
      <span class="input-group-btn">
        <%= submit_tag 'Find Learners', class: 'btn btn-primary btn-lg', 'data-purpose': 'search-user-button' %>
      </span>
    </div>
  <% end %>
</section>

<section>
  <header class="search-results">
    <h1 class="h3">Results</h1>
  </header>
  <div data-purpose="user-list">
    <ol class="list-group">
      <% @users.each do |user|  %>
        <li class="list-group-item clearfix" data-purpose="user">
          <h3 class="pull-right">
            <small class="text-uppercase">Joined</small>
            <%= l user.created_at.to_date %>
          </h3>
          <h2 class="h3"><%= link_to "#{user.first_name} #{user.last_name}", user_path(user)  %></h2>
          <h4><%= user.email %></h4>
        </li>
      <% end %>
    </ol>
  </div>
</section>
