<h2 data-purpose="user-details">Account Overview</h2>
<% if flash[:notice] %>
    <div data-purpose="success-edit"> <%=flash_success!(flash[:notice]) %> </div>
<% end %>

<span ></span>
<%= "Hello #{@user.email}" %><br/>
<% if !@user.avatar.nil? %>
    <div><%= image_tag(@user.avatar, size: '200x200') %></div>
<% end %>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary btn', method:'get', 'data-purpose':'edit-profile-button' %>
<% end %>

<%= friend_request_button(@user) %>