<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Learnento', root_path, class: 'navbar-brand', method: 'get' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
            <li><%= link_to 'Find Learners', users_path, class: 'btn btn-default', method: 'get', 'data-purpose': 'learners_button' %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
            <li><%= link_to 'Register', new_user_registration_path, method: 'get', 'data-purpose': 'register_form' %></li>
            <li><%= link_to 'Login', new_user_session_path, method: 'get', 'data-purpose': 'login_form' %></li>
        <% else %>
            <li>
              <%= link_to friend_requests_path, 'data-purpose': 'friend-requests-button' do %>
                <%= fa_icon "users" %>
              <% end %>
            </li>
            <li class="dropdown">
              <a href="#" data-purpose="menu-button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon "user" %>
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', user_path(current_user), method: 'get', 'data-purpose': 'profile-button' %></li>
                <li><%= link_to 'Friends', friends_path(current_user), method: 'get', 'data-purpose': 'friendlist-button'%></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete', 'data-purpose': 'disconnect_button' %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>