<nav class="navbar navbar-light bg-faded">
  <% if !user_signed_in?%>
      <%= link_to 'Learnento', root_path, class: 'navbar-brand', method:'get' %>
      <form class="form-inline pull-xs-left">
        <%= link_to 'Learners', users_path, class: 'btn btn-primary', method:'get', 'data-purpose':'learners_button' %>
      </form>
  <% else %>
      <%= link_to 'Learnento', user_path(current_user), class: 'navbar-brand', method:'get' %>
      <form class="form-inline pull-xs-left">
        <%= link_to 'Learners', users_path, class: 'btn btn-primary', method:'get', 'data-purpose':'learners_button' %>
      </form>
  <% end %>
  <form class="form-inline pull-xs-right">
    <% if !user_signed_in? %>
        <button type="button" data-purpose="register_form" class="btn btn-primary btn" data-toggle="modal" data-target="#register_form">Register</button>
        <%= link_to 'Login', new_user_session_path, class:'btn btn-primary', method:'get', 'data-purpose':'login_form'%>
    <% else %>
        <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary btn', method: 'delete', 'data-purpose': 'disconnect_button' %>
    <% end %>
  </form>
</nav>